HTML,
body {
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
    border: 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.navBar {
    width: 100%;
    height: 110px;
    background-color: #FFCB02;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navBarLeft {
    list-style-type: none;
}

.navBarRight {
    list-style: none;
    display: flex;
    align-items: center;

}

#navLink {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    margin-right: 15px;
}

.navSpor {
    background-color: black;
    color: #FFCB02;
}

.navSign {
    color: black;
    border: 1px solid black;
}

.signUpBar {
    background-color: #111111;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.signUpInner {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.navSignUpButton {
    background-color: #FFCB02;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    margin-right: 15px;
}
.inputCont{
    padding-left: 25px;
}
.inputt {
    height: 42px;
    width: 320px;
}